@using ProjektGameCardentis.Entities

<div class="game-card @Card.Type.ToString().ToLower() @(Disabled ? "disabled" : "") @(IsSelected ? "selected" : "") @(IsRevealed ? "revealed" : "")" @onclick="HandleClick">

    <div class="card-image">
        <div class="card-cost">
            @Card.ManaCost
        </div>

        <span>IMG</span>
    </div>

    <div class="card-title" title="@Card.Name">
        @Card.Name
    </div>

    <div class="card-description" title="@Card.Description">
        @Card.Description
    </div>

</div>

@code {
    [Parameter, EditorRequired]
    public Card Card { get; set; } = null!;

    [Parameter]
    public EventCallback OnClick { get; set; }

    [Parameter]
    public bool Disabled { get; set; }

    [Parameter]
    public bool IsSelected { get; set; }

    [Parameter] 
    public bool IsRevealed { get; set; }

    private async Task HandleClick()
    {
        if (Disabled)
            return;

        await OnClick.InvokeAsync();
    }
}
